<!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Products/</span> Add Products</h4>

              <!-- Basic Layout -->
              <div class="row">
                <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Add Products</h5>
                      <small class="text-muted float-end"></small>
                    </div>

                    

                    <div class="card-body">
                   <% if (productAdded) { %>
                    <div class="alert alert-success" role="alert">
                        Product has been added
                    </div>
                    <% } %> 
                      <form action="/admin/add-products" method="POST" role="form" enctype="multipart/form-data">
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Name</label>
                          <input type="text" name="Name" class="form-control" id="basic-default-fullname" placeholder="Lightweight Jacket" required/>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-company">Price</label>
                          <input type="number" name="Price" class="form-control" id="basic-default-company" placeholder="9999" required/>
                        </div>
                        
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Category</label>
                          <select class="form-select" name="Category" aria-label="Default select example" id="category-selection">
                              <option selected>Open this select menu</option>
                              <% categories.forEach(element => { %>
                               <option value="<%= element.CategoryName %>"><%= element.CategoryName %></option>
                              <% }) %>
                          </select>
                        </div>

                          <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Sub Category</label>
                          <select class="form-select" name="subCategory" aria-label="Default select example" id="subcategory-selection">
                              
                          </select>
                        </div>
                        

                        <div class="mb-3">
                          <label class="form-label" for="basic-default-message">Description</label>
                          <input
                            id="basic-default-message"  name="Description"
                            class="form-control"
                            placeholder="About the product!" required
                          ></input>
                        </div>

                        <div class="row mb-3">
                          <div class="col">
                            <label class="form-label" for="basic-default-message">Offer</label>
                          <input type="number"
                            id="basic-default-message"  name="productOffer"
                            class="form-control"
                            placeholder="Enter offer in %" 
                          ></input>
                          </div>
                          <div class="col">
                            <label class="form-label" for="basic-default-message">Stock</label>
                          <input type="number"
                            id="basic-default-message"  name="Stock"
                            class="form-control"
                          ></input>
                          </div>
                        </div>

                        <div class="mb-3">
                          <label for="formFileMultiple" class="form-label">Upload image</label>
                          <input class="form-control" name="Image" type="file" id="formFileMultiple" multiple />
                        </div>

                        <button type="submit" class="btn btn-primary ">Add </button>
                      </form>
                    </div>
                  </div>
                </div>
                  
                  
                </div>
              </div>
            </div>
            <!-- / Content -->