<% if (scrollbar) { %>
 

    <!-- {{#if scrollbar}} -->


<!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            
              <a href="/admin/dashboard"><span class="app-brand-text demo menu-text fw-bolder ms-2">Fadonsta</span></a>
            

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item ">
              <a href="/admin/dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>

            <!-- Users -->
            <li class="menu-item">
              <a href="/admin/view-users" class="menu-link">
                <i class="menu-icon tf-icons bx bx-table"></i>
                <div data-i18n="Tables">Users</div>
              </a>
            </li>

            <!-- Products -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-detail"></i>
                <div data-i18n="Form Elements">Products</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="/admin/view-products" class="menu-link">
                    <div data-i18n="Basic Inputs">All Products</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="/admin/add-products" class="menu-link">
                    <div data-i18n="Basic Inputs">Add Products</div>
                  </a>
                </li>
                
              </ul>
            </li>


            <!-- Categories -->
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-category"></i>
                <div data-i18n="Form Elements">Categories</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="/admin/admin-categories" class="menu-link">
                    <div data-i18n="Basic Inputs">All Categories</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="/admin/admin-sub-categories" class="menu-link">
                    <div data-i18n="Basic Inputs">All Sub Categories</div>
                  </a>
                </li>
              </ul>
            </li>


            

            <!-- Orders -->
            <li class="menu-item">
              <a href="/admin/admin-orders" class="menu-link">
                <i class="menu-icon tf-icons bx bx-border-bottom"></i>
                <div data-i18n="Tables">Orders</div>
              </a>
            </li>

            <!-- Offers -->
          <li class="menu-header small text-uppercase"><span class="menu-header-text">Offer Managment</span></li>

          <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bxs-offer"></i>
                <div data-i18n="Form Elements">Offers</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="/admin/product-offers" class="menu-link">
                    <div data-i18n="Basic Inputs">Product Offers</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="/admin/category-offers" class="menu-link">
                    <div data-i18n="Basic Inputs">Category Offers</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="/admin/admin-coupons" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-coupon"></i>
                <div data-i18n="Tables">Coupon Managment</div>
              </a>
            </li>
          </ul>

          

        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <!-- <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div> -->
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                  <a
                    class="github-button"
                    href="https://github.com/Don-Sebastian/Ecommerce-project.git"
                    data-icon="octicon-star"
                    data-size="large"
                    data-show-count="true"
                    aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >Star</a
                  >
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="/../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="/../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">Don Seb</span>
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <% if (admin) { %>
                       
                      
                      <!-- {{#if admin}} -->
                      <div class="dropdown-item text-center">
                        <a  href="/admin/admin-logout" class="btn btn-sm btn-block btn-outline-danger ">
                          <i class="bx bx-log-out-circle"></i> <span class="align-middle">Log Out</span>
                        </a> 
                      </div>
                      
                      <% } else { %>
                       
                      <!-- {{else}} -->
                      <a class="dropdown-item" href="/admin/admin-login">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log In</span>
                      </a>
                      {{/if}}
                      <% } %>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

<!-- {{/if }} -->
<% } %>