<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85 m-b-150">
  <div class="container">
    <div class="text-center m-t-120">
      <div>
        <p style="font-size: 100px">&#127881;</p>
        <h1 class="m-t-5">Order Placed Successfully</h1>
        <div class="row">
          <div
            style="
              display: inline-flex;
              width: 50%;
              margin: 0 auto;
              padding-top: 5%;
            "
          >
            <a
              href="/"
              class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer"
            >
              Continue Shopping
            </a>
            <a
              href="/orders"
              class="flex-c-m m-l-10 stext-101 cl0 size-116 bg1 bor14 hov-btn1 p-lr-15 trans-04 pointer"
            >
              View Orders
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
